<!DOCTYPE html>
<html ng-app ng-csp>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"  />
    <title>Advanced Search</title>
    <link href="css/style.css" rel="stylesheet">
</head>

<body ng-controller="TabsListCtrl">
<div id="tabs-list">
    <ol class="tabs-display">
        <li class="entry" ng-repeat="tab in tabs | orderBy:'time':true">
            <label class="entry-box" for="checkbox-{{$index + 1}}">
                <div class="time">
                    <input id="checkbox-{{$index + 1}}" type="checkbox">
                    {{tab.timeString}}
                </div>
                <div class="title"  style="background-image: url(chrome://favicon/size/16@1x/{{tab.tabFavIconUrl}}); background-size: 16px;">
                    <a href="{{tab.url}}" id="id-{{$index + 1}}"
                       target="_top" title="{{tab.title}}">
                        {{tab.title}}
                    </a>
                </div>
            </label>
        </li>
    </ol>
</div>
<button ng-click="clearHistory($event)">Clear</button>
</body>

<script src="angular/angular.js"></script>
<script src="jquery/jquery-1.7.1.min.js"></script>
<script src="js/popup.js"></script>
</html>